@font-face {
    font-family: 'intro';
    src: url('../fonts/intro.eot');
    src: url('../fonts/intro.eot') format('embedded-opentype'),
         url('../fonts/intro.woff2') format('woff2'),
         url('../fonts/intro.woff') format('woff'),
         url('../fonts/intro.ttf') format('truetype'),
         url('../fonts/intro.svg#8289') format('svg');
}